*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.conatainer{
    height: 500px;
}

.display > .first{
    height: 38px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.btn{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    width: 35px;
}